# Workflow to run unit tests on every pull request to the main branch
name: Unit test on pull request

on:
  # Runs on pull request targeting the main branch
  pull_request:
    branches: ["main"]

jobs:
  test:
    name: Run unit tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 'node'
      - name: Install dependencies
        run: npm install
      - name: Run tests
        run: npm test
